#register-container {
	position: absolute;
	left: 50%;
	top: 40%;
	height: 400px;
	margin-top: -200px;
	width: 400px;
	margin-left: -200px;
	font-size: 1.1rem;
}
#name-header {
	position: relative;
	right: 5%;
	top: -20%;
}
form {
	position: relative;
	top: -1%;
	border-radius: 4px;
}
#name-textbox {
	padding: 1rem;
	background: #e1bee7;
	color: #17141e;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#name-submit {
	padding: 1rem;
	color: #17141e;
	background-color: #fff;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
	border: 2px solid #fff;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#name-submit:hover {
	padding: 1rem;
	background-color: transparent;
	background-repeat: no-repeat;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	border: 2px solid #fff;
}
